@font-face {
  font-family: pixel;
  src: url('./Fonts/Jacquard12-Regular.ttf');
}
body {
  margin: 0px;
  transition: 1s;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

#window {
  display: block;
  width: 1000px;
  height: 600px;
  margin: auto;
  z-index: 1;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: -1;
}

#game_block {
  width: 740px;
  height: 345px;
  position: absolute;
  left: 38px;
  right: 0px;
  margin: auto;
  margin-top: 154px;
  background-color: inherit;
  border-radius: 30px;
  opacity: 0.9;
  z-index: -2;
}

#bonus_text {
  width: 30px;
  height: 20px;
  color: red;
  background-color: red;
  position: absolute;
  left: 222px;
  top: 350px;
  font-size: 2em;
  opacity: 0;
  font-family: pixel;
  animation-name: bonus_game;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

#buttons {
  width: 514px;
  height: 700px;
  position: absolute;
  margin: auto;
  top: 270px;
  left: 25px;
  right: 0px;
  text-align: center;
}

.snow {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: 2s;
  margin-left: 10px;
  top: -500px;
  left: 0px;
  z-index: -3
}

#new_game, #home_game {
  opacity: 0.6;
  text-align: auto;
  margin-left: 7px;
  margin-bottom: 10px;
  width: 240px;
  cursor: pointer;
}

#new_game:hover, #home_game:hover {
  transition: 300ms;
  transform: translateY(3px);
  opacity: 1
}

#nameGame, #balance {
  width: 400px;
  margin: auto;
  position: absolute;
  top: 180px;
  text-align: center;
  left: 30px;
  right: 0px;
  font-size: 40px;
  font-family: pixel;
  color: rgb(150 250 150);
}

#hrTop, #hrBottom, #window_settings, #window_shop {
  width: 550px;
  height: 1px;
  background-color: rgb(150 250 150);
  position: absolute;
  top: 225px;
  left: 40px;
  right: 0px;
  margin: auto;
  border: 0px;
}

#window_settings::-webkit-scrollbar, #window_shop::-webkit-scrollbar {
  background-color: inherit;
}

#window_settings, #window_shop {
  height: 224px;
  overflow-y:scroll;
  background-color: inherit;
  border-top: 2px solid rgb(150 250 150);
  border-bottom: 2px solid rgb(150 250 150)
}

/* .table {
  width: 300px;
  background-color: red;
}
.table_head, .table_body, .table_flag {
  height: 50px;
  background-color: green;
} */

#hrBottom {
  top: 450px
}

#balance {
  color: orange; 
  width: 550px;
  left: 40px;
  font-size: 20px;
  top: 225px;
  border: 2px solid orange;
  border-top: 0px;
  border-radius: 5px;
}

#details {
  color: rgb(255 100 100);
  text-align: center;
  width: 550px;
  position: absolute;
  left: 30px;
  right: 0px;
  top: 451px;
  font-family: pixel;
  font-size: 16px;
  margin: auto;
}

#details_game {
  background-color: inherit;
}

#menu {
  width:700px;
  position: absolute;
  top: 240px;
  left: 120px;
  right: 0px;
  margin: auto
}

.menu_tag {
  width: 150px;
  margin-left: 40px;
  cursor: pointer;
  transition: 100ms;
  opacity: 0.4;
}
.menu_tag:hover {
  transition: 90ms;
  transform: translateY(7px);
}

#menu_start {
  opacity: 1;
}

#health {
  display: inline;
  width: 600px;
  position: absolute;
  text-align: center;
  top: 190px;
  margin: auto;
  left: 0px;
  right: 0px;
  transition: 0.5s;
}

.hp {
  width: 25px;
  margin-left: 3px;
}

#moneys {
  color: yellow;
  width: 140px;
  font-family: pixel;
  font-size: 30px;
  display: inline;
  position: absolute;
  top: 200px;
  margin: auto;
  left: -465px;
  overflow: hidden;
  right: 0px;
  transition: 0.5s;
  float: left;
  text-align: center;
}

#money {
  width: 15px;
  position: relative;
  top: 4px;
  animation: onmoney 10s infinite;
}

#time {
  width: 200px;
  text-align: right;
  color: rgb(150 250 150);
  font-family: pixel;
  position: absolute;
  top: 200px;
  margin: auto;
  left: 480px;
  right: 0px;
  font-size: 30px;
}

#loading {
  opacity: 0;
  width:350px;
  font-size: 60px;
  font-family: pixel;
  position: absolute;
  left:185px;
  right:0px;
  top: 250px;
  margin: auto;
  color: rgb(150 250 150);
}

#back {
  color: rgb(255, 100, 100);
  text-decoration: underline solid rgb(255, 100, 100) 1px;
  padding: 0px 4px;
  border-radius: 5px;
  margin: 1px;
  cursor: pointer;
  transition: 220ms;
}

#back:hover { 
  color: yellow; 
  text-decoration: underline solid orange 1px; 
}

form#audio {
  width: 265px;
  height: 50px;
  position: absolute;
  left: 38px;
  top: 510px;
  right: 0px;
  margin: auto;
  transition: 300ms;
}

#parentMusic, #audio_button_play, #audio_button_delete {
  width: 155px;
  height: 25px;
  float: left;
  margin: auto;
  padding: 5px;
  background-color: rgb(150 250 150);
  border: 5px double black;
  transition: 250ms;
}

 #audio_button_delete:hover {
  background-color: red;
  color: black;
 }

 #audio_button_play:hover {
  background-color: rgb(2, 45, 35);
  color: black;
 }

input[type="range"] {
  width: 150px;
  height: 5px;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgb(2, 45, 35);
  border-radius: 2px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: rgb(70, 216, 165);
  border-radius: 3px;
  border: 1px solid rgb(2, 45, 35);
  box-shadow: 0 0 5px rgb(150 250 150);
}

#audio_button_play, #audio_button_delete {
  width: 45px;
  height: 45px;
  left: 567px;
  color: rgb(2, 45, 35);
  background-color: rgb(150 250 150);
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 10px;
  border: 5px double black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-indent: -1px;
}

#audio_button_delete {
  left: 223px;
  text-indent: 0px;
  line-height: 28px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  letter-spacing: -1px;
}

#audio_button_play, #audio_button:hover, #parentMusic:hover {
  opacity: 1;
}


.dinoV, .dinoH {
  position: absolute;
  margin: auto;
  left: -550px;
  right: 0px;
  z-index: 3;
}

.dinoV { width: 75px; top: 397px }
.dinoH { width: 63px; top: 440px }

.box_dino_v {
  width: 40px;
  height: 50px;
  top: 420px;
  z-index: 3;
}
.box_dino_h {
  height: 27px;
  top: 443px;
}

.evil, .box_cactus_1, .box_cactus_2, .box_cactus_3 { 
  opacity: 0;
  height: 40px;
  margin: auto;
  position: absolute;
  left: 740px;
  right: 0px;
  top: 431px;
  z-index: 1;
}

#logo {
  width: 100px;
  opacity: 1;
  top: 100px;
  margin-left: 50px;
}

.bonus {
  top: 442px;
  height: 27px;
  animation-delay: 1s;
  z-index: 1;
}

.box_cactus_1, .box_cactus_2, .box_cactus_3 {
  opacity: 0.5;
  margin-top: 5px;
}
.box_cactus_1 { width: 15px }
.box_cactus_2 { width: 20px }
.box_cactus_3 { width: 30px }

.cactus_1 { width: 25px }
.cactus_2 { width: 35px }
.cactus_3 { width: 55px }

.dragonTop, .dragonCenter, .dragonBottom { height: 35px }

.dragonTop { top: 380px }
.dragonCenter { top: 400px }
.dragonBottom { top: 435px }

.giftTop { top: 395px }
.giftBottom { top: 439px }

.clouds {
  opacity: 0;
  width: 100px;
  position: absolute;
  left: 680px;
  right: 0px;
  margin: auto;
  top: 225px;
}

#screen_play {
  background-color: red;
}

@keyframes jump {
  50% {
    transform: translateY(-75px);
  }
  from {
    transform: translateY(0px);
  }
}

@keyframes bonus_game {
  to {
    transform: translateY(-10px);
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  from {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes step {
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-690px);
  }
}

@keyframes loadingStart {
  to {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  59% {
    color: rgb(150 250 150);
  }
  100% {
    color: blueviolet;
    opacity: 0;
  }
}
@keyframes onbonuse {
  to {
    transform: translateX(0px) rotate3d(0,0,0,0deg);
  }
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-690px) rotateZ(360deg);
  }
}

@keyframes oncloud {
  to {
    transform: translateX(0px);
  }
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-590px);
  }
}

@keyframes onmoney {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}